{% extends "base.html" %}
{% block content %}
<br>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Visited</th>
    </tr>
    {% for country in countries %}
    <tr>
        <td>{{country.name}}</td>
        <td>{{country.visited}}</td>
        <td><a href="/countries/{{country.id}}/edit">Edit</a></td>
        <td><a href="/countries/{{country.id}}/delete">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="/countries/new"><button type="button" class="btn btn-success">+ Add Country</button>
</a>
<br>
<br>
{% endblock %}