{% extends "base.html" %}
{% block content %}
<br>
<table class="content-table table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Visited</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    {% for country in countries %}
    <tbody>
    <tr>
        <td>{{country.name}}</td>
        <td>{{country.visited}}</td>
        <td><a class="edit" href="/countries/{{country.id}}/edit">Edit</a></td>
        <td><a href="/countries/{{country.id}}/delete">Delete</a></td>
    </tr>
    </tbody>
    {% endfor %}
</table>
<br>
<p class="center">
<a class="addbtn" href="/countries/new"><button type="button" class="btn">+ Add Country</button></a>
</p>
<br>
<br>
{% endblock %}