{% extends 'base.html' %}
{% block content %}
<form action="/countries" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Country name" required autofocus />
    </div>

    <div>
        <label for="visited">Visited:</label>
        <select id="visited" name="visited">
        <option value="true">True</option>
        <option value="false">False</option>
        </select><!--fixed lines above-->
    </div>
    <button type="submit">Add Country</button>
</form>
    
{% endblock content %}
