{% extends 'base.html' %}
{% block content %}
    <p>You are editing {{city.name}} in {{city.country.name}}</p>
        <form action="/cities/{{city.id}}/edit" method="POST">
        <label for="visited">Visited:</label>

        <select id="visited" name="visited">
        <option value="True">True</option>
        <option value="False"{% if city.visited == False %} selected="selected"{% endif %}>False</option>
        </select><br>

        <div class="vspace"></div>

        <button type="submit">Update City</button>

</form>
{% endblock content %}