{% extends "base.html" %}
{% block content %}
<br>
<br>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Visited</th>
        <th>Country</th>
    </tr>
    {% for city in cities %}
    <tr>
        <td>{{city.name}}</td>
        <td>{{city.visited}}</td>
        <td>{{city.country.name}}</td>
        <td><a class="edit" href="/cities/{{city.id}}/edit">Edit</a></td>
        <td><a href="/cities/{{city.id}}/delete">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<br>
<p class="center">
<a class="addbtn" href="cities/new"><button type="button" class="btn btn-success">+ Add City</button></a>
</p>

<br>
{% endblock %}