{% extends 'base.html' %}
{% block content %}

<form action="/cities" method="post"><br>

    <div class="form"> 
        <label for="name">Name:</label><br>
        <input class="form" type="text" id="name" name="name" placeholder="City name" required autofocus />
    </div><br>

    <div class="form">
        <label for="visited">Visited:</label><br>
        <select class="form" id="visited" name="visited">
            <option value="true">True</option>
            <option value="false">False</option> <!--lines 13, 14, 15 fixed-->
        </select>
    </div><br>

    <div class="form">
        <label for="country">Country:</label><br>
        <select class="form" name="country_id" id="country">
            {% for country in countries  %}
            <option value="{{ country.id }}">{{ country.name }}</option> <!--check if line is correct-->
                
            {% endfor %}
        </select>
    </div><br>
    <button class="btn" type="submit">+ Add City</button>
</form>

{% endblock content %}
