{% extends 'base.html' %}
{% block content %}

<form action="/cities" method="post">

    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Name" required autofocus />
    </div>

    <div>
        <label for="visited">Visited:</label>
        <select id="visited" name="visited">
            <option value="true">True</option>
            <option value="false">False</option> <!--lines 13, 14, 15 fixed-->
        </select>
    </div>

    <div>
        <label for="country">Country:</label>
        <select name="country_id" id="country">
            {% for country in countries  %}
            <option value="{{ country.id }}">{{ country.name }}</option> <!--check if line is correct-->
                
            {% endfor %}
        </select>
    </div>
    <button type="submit">Add City</button>
</form>

{% endblock content %}
