body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    /* background-image: url("https://cdn.shopify.com/s/files/1/0269/2792/3234/articles/world-travelling-map-planning_1004x.jpg?v=1593720286"); */ */
    background-color: rgb(228, 246, 253);
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(105, 194, 232);
    text-align: left;
    color:rgb(45, 59, 140);

    box-shadow: 0px 0px 20px #11111166;
}

div.jumbotron {
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(75, 84, 125);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #11111177;
}

form, .form-group, .form-group {
    margin: 0 auto;
    width: 50%;
}

.btn[type="submit"] {
    width: 100px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-around;
}



.edit {
    color: rgb(54, 99, 114);
}

input[type="text"], select {
    width: 40%;
    margin: 0 auto;
}

a {
    color:red;
}

section {
text-align: left;
margin: 30px;
}

table, tbody {
    width: 80%;
    margin: 0 auto;
}

.center {
    width: 100%;
    text-align: center;
}

td {
    padding: 2px 5px;
}